      @media screen and (max-width: 1200px) {
      	.container{
      		width: 100%
      	}
      }

      @media screen and (max-width: 700px) {
      	.description_page_1 {
      		float: none;
      		font-size: 20px;
      		width: auto;
      		text-align: center;
      		margin: 0 auto;
      		padding-top: 150px;
      		padding-left: 40px;
      		padding-right: 40px;
      	}
      }

      @media screen and (max-width: 580px) {
      	.menu ul {
      		display: none;
      	}
      }

      @media screen and (max-width: 580px) {
      	.menu {
      		height: 27px;
      	}
      }

      @media screen and (max-width: 1200px) {
      	.title::before {
      		width: 90%;
      	}
      }


      @media screen and (max-width: 1195px) {
      	.conent_page2 {
      		text-align: center;
      	}
      }

      @media screen and (max-width: 1195px) {
      	.block_item p {
      		text-align: center;
      		text-align: left;
      	}
      }

      @media screen and (max-width: 1195px) {
      	.block_item {
      		margin-right: 20px;
      		margin-left: 20px;
      	}
      }

      @media screen and (max-width: 1195px) {
      	.block_item:nth-child(1) {
      		margin-right: 20px;
      		margin-left: 20px;
      	}
      }


      @media screen and (max-width: 1195px) {
      	.block_item:nth-child(2) {
      		margin-right: 20px;
      		margin-left: 20px;
      	}
      }


      @media screen and (max-width: 1195px) {
      	.block_item:nth-child(3) {
      		margin-right: 20px;
      		margin-left: 20px;
      	}
      }

      @media screen and (max-width: 653px) {
      	.title::before {
      		display: none;
      	}
      }

      @media screen and (max-width: 653px) {
      	.title {
      		padding-top: 20vh;
      	}
      }

      @media screen and (max-width: 653px) {
      	.title {
      		padding-left: 0;
      		text-align: center;
      	}
      }

      @media screen and (max-width: 390px) {
      	.conent_page2 {
      		padding-left: 0;
      		padding-right: 0;
      	}
      }

