body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.container {
	width: 1200px;
	position: relative;
	margin: 0 auto;
}

.background_page_1 {
    background-image: url(../img/background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.background_page_2 {
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
}

.fixed_menu {
    position: fixed;
    width: 100%;
    z-index: 1;
    transition-duration: 0.6s;
}

.menu {
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu ul {
    margin: 0;
    padding: 0;
    float: right;
    margin-right: -12px;
}

.menu li {
    list-style: none;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition-duration: 0.3s;
}

.menu:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/*hamburger*/

.hamburger-menu {
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 30px;
}

.bar,
.bar:after,
.bar:before {
  width: 40px;
  height: 2px;
}

.bar {
  position: relative;
  transform: translateY(25px);
  background: #fff;
  transition: all 0ms 300ms;
}
.bar.animate {
  background: rgba(255, 255, 255, 0);
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  background: #fff;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  background: #fff;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
/*hamburger*/

.description_page_1 {
    opacity: 0;
    width: 540px;
    font-size: 24px;
    color: #fff;
    text-align: right;
    float: right;
    /*margin-top: 460px;*/
    margin-top: 48.5vh;
    margin-right: 83px;
}

.menu_bottom_border::after {
    background-color: #ffffff;
    bottom: 10px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transition-duration: 0.3s;
    width: 68px;
}

.menu li a:hover {
    color: #a0a0a0;
}


/*.menu > ul > li:hover::after {
  width: 68px;
}
*/

.navigation_bar {
    position: absolute;
    right: 17px;
    top: 50vh;
    width: 15px;
}

.navigation_bar li {
    cursor: pointer;
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #ffc815;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    transition-duration: 0.2s;
}

.navigation_bar li:hover {
  background-color: #c19644;
}

.navigation_bar .active {
  width: 15px;
  height: 15px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 36px;
    /*padding-top: 300px;*/
    padding-top: 31.5vh;
    padding-left: 55px;
}

.title::before {
    content: "";
    position: absolute;
    width: 1087px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 48px;
}

.container .block_item {
    display: inline-block;
    position: relative;
}

.block_item {
    opacity: 0;
    width: 230px;
    margin-top: 15px;
    border: 1px solid #eeeeee;
}

.block_item p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}

.block_item img {
    width: 100%;
}

.conent_page2 {
    padding-left: 53px;
    padding-right: 53px;
}

.block_item:nth-child(1) {
    margin-right: 50px;
}

.block_item:nth-child(2) {
    margin-right: 50px;
}

.block_item:nth-child(3) {
    margin-right: 50px;
}
